/* Dan Perlman, dmp359@drexel.edu
CS530: DUI, Assignment 1 */

body {
    font-family: "Avenir";
    font-size: 1rem;
    background: #fff;
}

header {
    background: #5258e3;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
    color: #eff6fe
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: #f7ff83;
}

.content {
    padding: 1rem 1rem;
}

.jumbotron {
    padding: 1.5rem;
    background: 0;
}

.jumbotron img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-md-3 {
    padding-left: 0px;
}
.btn-primary:not(:disabled):not(.disabled).active:focus {
    box-shadow: none;
}

#pdf-content {
    height: 650px;
    width: 750px;
}

.song-button {
    width: 300px !important;
}

.song-span {
    float: left;
}

.description-span {
    float: right;
}

.dropdown-item {
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 20px;
  }
  
.progress-bar {
    background-color: #5258e3;
}
