/* Dan Perlman, dmp359@drexel.edu
CS530: DUI, Assignment 1 */

body {
    font-family: "Avenir";
    font-size: 1rem;
    background: #fff;
}

header {
    background: #5258e3;
}

/* 
TODO: Override button color to match styling
.btn {
    background: #333333;
    border-color: #333333;
    color: #fff;
} */


/* .btn:hover {
    background: #5258e3;
    border-color: #000000;
    color: #fff;
} */

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
    color: #eff6fe
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: #f7ff83;
}

.content {
    padding: 2rem 1.5rem;
}

.jumbotron {
    padding: 1.5rem;
    background: 0;
}

.jumbotron img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* for bikes.html
td img {
    max-width: 100px;
}

for rent.html
.unavailable {
    opacity: 0.25;
} */

.col-md-3 {
    padding-left: 0px;
}
.btn-primary:not(:disabled):not(.disabled).active:focus {
    box-shadow: none;
}