<!-- Dan Perlman, dmp359@drexel.edu
CS530: DUI, Assignment 1 -->

{% extends 'base.html' %}
{% set active = "About" %}

{% block title %}
About
{% endblock %}

{% block content %}

<section>
    <div>
        <h1 class="jumbotron-heading">Rent a Bike</h1>
        <p>Please select a rental from our available bikes below!</p>  
        <table class="table" id="bike-table">
            <th>Image</th>
            <th>Name</th>
            <th>Available</th>
            <th></th>
            <tbody>

            </tbody>
        </table>
        <!-- Using Javascript to generate table -->
        <script src="/js/rentals.js"></script>
    </div>
</section>

{% endblock %}