body {
    margin: 0;
    font-family: "Avenir";
}

.menu-bar {
    padding: 1rem;
    background: #406C39;
}

.menu-item {
    margin-left: 1rem;
    color: #fff;
    text-decoration: none;
}

.jumbotron {
    background: white;
}

.lead {
    color: #00f; /* does nothing! */
}