{% extends 'base.html' %}
{% set active = "About" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}

<h1>About Us</h1>

<p>
    The Goat Shop is the premier online shopping emporium for all your goat-related needs. We pride ourselves in taking
    excellent care of our goats, who would be happy to visit your property to chow down on all those pesky weeds and
    brush.
</p>

<p>
    While you're here, please check out these other great goat sites:
</p>

<ul>
    <li><a href="http://rentagoat.com">Rent A Goat</a></li>
    <li><a href="http://werentgoats.com">We Rent Goats</a></li>
    <li><a href="https://goatyoga.net/">Goat Yoga</a></li>
</ul>

{% endblock %}