{% extends 'base.html' %}
{% set active = "Adopt" %}

{% block title %}
Adopt a Goat
{% endblock %}

{% block content %}

<h1>Adopt a Goat</h1>

<p>
    Please see our awesome goats below and adopt one today!
</p>

<div id="cards" class="container">

</div>

<script>

    const goatsPerColumn = 3;
    const goatsPerPage = 6;

    function buildCards(goats) {
        $('#cards').empty();
        for (var i = 0; i < goats.length; i++) {
            let goat = goats[i];
            let card = $('<div>').addClass('card')
                .append(
                    $('<img>').addClass('card-img-top').attr('src', '/course/img/goats/' + goat.image)
                ).append(
                    $('<p>').addClass('card-body')
                        .append(
                            $('<h5>').addClass('card-title').text(goat.name)
                        ).append(
                            $('<p>').addClass('card-text').text(goat.age + ' years old')
                        ).append(
                            $('<a>').addClass('btn btn-primary').text('Adopt')
                                .click(function () {
                                    goat.adopted = goat.adopted ? 0 : 1;
                                    adoptGoat(goat.uid, goat.adopted);
                                })
                        )
                );
            if (goat.adopted)
                card.addClass('adopted');
            if (i % goatsPerColumn == 0)
                $('#cards').append(
                    $('<div>').addClass('card-deck')
                );
            $('#cards .card-deck').last().append(card);
        }
    }

    function loadGoats() {
        $.get("api/goats", {
            n: goatsPerPage,
            offset: 0
        }, function (goats) {
            buildCards(goats);
        });
    }

    function adoptGoat(uid, value) {
        $.get("api/adopt", {
            uid: uid,
            value: value,
            n: goatsPerPage,
            offset: 0
        }, function (goats) {
            buildCards(goats);
        });
    }

    $(function () {
        loadGoats();
    });

</script>

{% endblock %}