<!-- Dan Perlman, dmp359@drexel.edu
CS530: DUI, Assignment 1 -->

{% extends 'base.html' %}
{% set active = "About" %}

{% block title %}
About
{% endblock %}

{% block content %}

<section>
    <div>
        <h1 class="jumbotron-heading">About Drexel Bikes</h1>
        <p>Drexel Bikes is our personal portal to
            <a href="https://drexel.edu/campusservices/studentCenters/creeseCenter/BikeShare/">Drexel Bike Share</a>.
            There isn't much to this site right now, but we could extend it into something very cool!
        </p>  
    </div>
</section>

{% endblock %}