<!-- Dan Perlman, dmp359@drexel.edu
CS530: DUI, Assignment 1 -->

{% extends 'base.html' %}
{% set active = "Home" %}

{% block title %}
Today's Lick
{% endblock %}

{% block content %}

<section class="jumbotron">
    <div class="text-center">
        <h1 class="jumbotron-heading">Jazz Piano Practice Tool</h1>
        <p class="lead text-muted">Today's Lick</p>
        <!-- <p><img class="img-fluid" src="/img/lick.png"></p> -->
        <div id="boo"></div>
        <script src="/js/lick.js"></script>
        <!-- <p>
            <a href="/about" class="btn my-2 mr-2">Learn about us</a>
            <a href="/bikes" class="btn my-2">See our bikes</a>
            <a href="/rent" class="btn my-2">Rent a bike</a>
        </p> -->
    </div>
</section>
<!-- <div style="font-size: 4px; margin: auto; width: 50%;">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
{% endblock %}