<!-- Dan Perlman, dmp359@drexel.edu
CS530: DUI, Assignment 1 -->

{% extends 'base.html' %}
{% set active = "Home" %}

{% block title %}
Today's Lick
{% endblock %}

{% block content %}

<section class="jumbotron">
    <div id="content" class="text-center">
        <h1 class="jumbotron-heading">Jazz Piano Practice Tool</h1>
        <p class="lead text-muted">Today's Lick</p>
        <div id="lick"></div>

        <div id="keys">
            <p class="lead">Transpose to Key</p>
        </div>
        <script src="/js/lick-renderer.js"></script>
    </div>
</section>
<!-- <div style="font-size: 4px; margin: auto; width: 50%;">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
{% endblock %}