{% extends 'base.html' %}
{% set active = "LogIn" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<h1>Sign Up</h1>
{% if message %}
<div class="alert alert-danger">
    {{ message }}
</div>
{% endif %}
<p>
    Please specify a new username and password below.
</p>

<form method="POST" action="/register" class="pt-3">
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Your Name</label>
        <div class="col-4">
            <input class="form-control" required type="text" name="name">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Username</label>
        <div class="col-4">
            <input class="form-control" required type="text" name="username">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Password</label>
        <div class="col-4">
            <input class="form-control" required type="password" name="password">
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

{% endblock %}