<!-- Dan Perlman, dmp359@drexel.edu
CS530: DUI, Project -->

{% extends 'base.html' %}
{% set active = "Sheets" %}

{% block title %}
Sheets
{% endblock %}

{% block content %}

<section>
    <div class="content">
        {% if message %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endif %}
        <div class="dropdown-menu dropdown-menu-sm" id="context-menu">
            <a class="dropdown-item" id="rename">Rename</a>
            <a class="dropdown-item" id="delete">Delete</a>
         </div>
        <div class="row flex-grow-1">
            
            <div style="float: left" class="no-float">
                <div id='sheet-list' class="list-group">
                </div>
            </div>
            <div style="float:center">
                <div id="pdf-content"></div>
                <div id="instructions" class="alert alert-primary">
                    Upload Your Own Lead Sheets Below!
                </div>
            </div>
        </div>

        <form action="/api/sheets" method="POST" enctype="multipart/form-data">
            <div class="form-group row">
                <label class="btn btn-secondary btn-file" for="user_file">
                        <input type="file" required name="user_file">
                </label>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Song Name</label>
                <div class="col-4">
                    <input class="form-control" type="text" required name="name">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Song Style</label>
                <div class="col-4">
                    <input class="form-control" type="text" name="description">
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Upload</button>
        </form>
    </div>
</section>
<script>
    // TODO: Put all this in an external file
    function renderPDF(pdf) {
        const options = {
            pdfOpenParams: { view: 'FitV'}
        };
        PDFObject.embed(pdf,'#pdf-content', options);
    }

// API returns data like:
// [
//   {
//     "description": "Description1", 
//     "name": "Song1", 
//     "object_url": "https://s3.amazonaws.com/user-uploaded-pdfs/dan/pdf1.pdf"
//   }, 
//   {
//     "description": "Description2", 
//     "name": "Song2", 
//     "object_url": "https://s3.amazonaws.com/user-uploaded-pdfs/dan/pdf2.pdf"
//   }
// ]
    $.get("/api/sheets", (data) => {
        if (data) {
            $('#pdf-content').show();
            $('#instructions').hide();
            let $songButton, $songText, $songDescription;
            // let $dropdown = $('<div>').addClass('dropdown-menu dropdown-menu-sm').attr('id', 'context-menu');
            // let $dropdownOption = $('a').addClass('dropdown-item').attr('href', '#').text('Action');
            // $dropdown.append($dropdownOption);
            data.forEach((song, i) => {
                $songButton = $('<button>').addClass('list-group-item list-group-item-action song-button');
                $songText = $('<span>').addClass('song-span');
                $songDescription = $('<span>').addClass('description-span');
                if (i === 0) {
                    $songButton.addClass('active');
                }
                $songText.text(song.name);
                console.log(song.name);
                $songDescription.text(song.description);
                $songButton.append($songText);
                $songButton.append($songDescription);
                $songButton.attr('id', song.object_url);
                $songButton.click((c) => {
                    const url = c.currentTarget.id; // Seems hacky
                    // TODO: Highlight currently selected button
                    // $(this).removeClass('active');
                    // $(`#${url}`).addClass('active');
                    renderPDF(url);
                });
                $songButton.on('contextmenu', e => {
                    var top = e.pageY - 10;
                    var left = e.pageX - 90;
                    $("#context-menu").css({
                        display: "block",
                        top: top,
                        left: left
                    }).addClass("show");

                    // Close dropdown on selecting of an option
                    $("#context-menu a").on("click", () => {
                        $.get('api/delete', { url: e.currentTarget.id });
                        $(this).parent().removeClass("show").hide();
                        location.reload(); // refresh to see change
                    });

                    // Close dropdown on click away
                    $('.content').on("click", () => {
                        $("#context-menu").removeClass("show").hide();
                    });
                    return false; // blocks default browser right click menu
                });

                $('#sheet-list').append($songButton);
            });
            pdf = data[0].object_url;
            renderPDF(pdf);
            return;
        }
        $('#pdf-content').hide();
    });
</script>
{% endblock %}
