<!-- Dan Perlman, dmp359@drexel.edu
CS530: DUI, Project -->

{% extends 'base.html' %}
{% set active = "Sheets" %}

{% block title %}
Sheets
{% endblock %}

{% block content %}

<section>
    <div class="content">
        {% if message %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endif %}
        <!--Only appears when right click of a song-->
        <div class="dropdown-menu dropdown-menu-sm" id="context-menu">
            <a class="dropdown-item" id="fullscreen">Open in New Tab</a>
            <a class="dropdown-item" id="rename">Rename</a>
            <a class="dropdown-item" id="delete">Delete</a>
         </div>

         <!--Only appears on rename-->
         <form action="/api/rename" method="POST" enctype="multipart/form-data">
            <div class="modal fade" id="modalRename" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Rename</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body mx-3">
                            <div class="md-form mb-5">
                                <i class="fas fa-envelope prefix"></i>
                                <label required for="newName">Song Name</label>
                                <input type="text" required id="songField" name="name" class="form-control validate">
                            </div>
                    
                            <div class="md-form mb-4">
                                <i class="fas fa-lock prefix"></i>
                                <label for="newDesc">Song Style</label>
                                <input type="text" id="descField" name="description" class="form-control validate">
                            </div>
                        </div>
                        <input type="hidden" id="songUrl" name="url" value="" />
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
         </form>
         

        <div class="row flex-grow-1">
            <div style="float: left" class="no-float">
                <div id='sheet-list' class="list-group">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div style="float:center">
                <div id="pdf-content" style="margin-bottom: 8px"></div>

                <!--Only shown when no sheets are uploaded-->
                <div id="instructions" class="alert alert-primary">
                    Upload Your Own Lead Sheets Below!
                </div>
            </div>
        </div>

        <form action="/api/sheets" method="POST" enctype="multipart/form-data">
            <div class="form-group row">
                <label class="btn btn-secondary btn-file" for="user_file">
                        <input type="file" required name="user_file">*
                </label>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Song Name*</label>
                <div class="col-4">
                    <input class="form-control" type="text" required name="name">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Song Style</label>
                <div class="col-4">
                    <input class="form-control" type="text" name="description">
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Upload</button>
        </form>
    </div>
</section>
<script src='/js/sheets-renderer.js'></script>
{% endblock %}
