<!-- Dan Perlman, dmp359@drexel.edu
CS530: DUI, Project -->

{% extends 'base.html' %}
{% set active = "Sheets" %}

{% block title %}
Sheets
{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="row flex-grow-1">
            <div class="col-md-3 no-float">
                <div class="btn-group-vertical">
                    <!--TOOD: Generate from iterable data from Flask-->
                    <button type="button" style="width: 300px" class="btn btn-primary active">
                        <span style="float: left">All the Things You Are</span>
                        <span style="float: middle">|</span>
                        <span style="float: right">Ballad</span>
                    </button>
                    <button type="button" class="btn btn-primary">
                        <span style="float: left">Autumn Leaves</span>
                        <span style="float: middle">|</span>
                        <span style="float: right">Swing</span>
                    </button>
                    <button type="button" class="btn btn-primary">
                        <span style="float: left">The Girl from Ipanema</span>
                        <span style="float: middle">|</span>
                        <span style="float: right">Bossa Nova</span>
                    </button>
                </div>
            </div>
            <div class="col-md-6 no-float">
                <div id="pdf-content"></div>
            </div>
        </div>
    </div>
</section>
<script>
    $('button').click(function() {
        $('button').removeClass('active');
        $(this).addClass('active');
    });

    // PDF URL, ideally from AWS or some cloud provider
    const pdf = 'https://www.kungalv.se/siteassets/dokument/skola-barnomsorg/dokument/gymnasieskola/estetiska-programmet/ansokan/sang/fly-me-to-the-moon.pdf';
    const options = {
        pdfOpenParams: { view: 'FitV'}
    };
    PDFObject.embed(pdf,'#pdf-content', options);
</script>
{% endblock %}
