{% extends 'base.html' %}
{% set active = "Home" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section class="jumbotron">
    <div class="text-center">
        <h1 class="jumbotron-heading">The Goat Pasture</h1>
        <p class="lead text-muted">Love goats? Want a goat?  We're here for you!</p>
        <p><img class="img-fluid" src="/course/img/goat1.jpg"></p>
        <p>
            <a href="/school" class="btn btn-secondary my-2 mr-2">Learn about Goats</a>
            <a href="/adopt" class="btn btn-secondary my-2">Adopt a Goat</a>
        </p>
    </div>
</section>

{% endblock %}